{% extends "base.html.twig" %}

{% block body %}
<h4 class="my-5">un petit dexte de bienvenue sur le site</h4>
<div class="card text-center">
    <div class="card-header">
      Nouveautés
    </div>
    <div class="card-body">
        <h5 class="card-title">Titre</h5>
        <ul>
          <li>auteur</li>
          <li>support</li>
          <li>genre</li>
        </ul>
      <p class="card-text">Des mots clefs peut etre a vous de voir....</p>
      <a href="#" class="btn btn-primary">Découvrir</a>
    </div>
    <div class="card-footer text-muted">
      En exclusivité 
    </div>
  </div>
{% endblock %}