{% extends 'base.html.twig' %}

{% block title %}Media Title{% endblock %}

{% block body %}
<section class="parallax wow animate__fadeIn" data-parallax-background-ratio="0.5" style="background-image: url('https://placehold.it/1920x1200');">
    <div class="opacity-full bg-gradient-fast-blue-purple"></div>
        <div class="container">
            <div class="row row-cols-lg-12 row-cols-md-9 justify-content-center">
                <!-- start feature box item-->
                <div class="col md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn">
                    <div class="feature-box feature-box-left-icon feature-box-light-hover padding-3-rem-all lg-padding-1-rem-lr lg-padding-2-rem-tb md-padding-2-half-rem-all">
                        <div class="feature-box-icon">
                            <i class="line-icon-Heart icon-very-medium text-white"></i>
                        </div>
                        <div class="feature-box-content text-white last-paragraph-no-margin">
                            <h6 class="alt-font text-white font-weight-500">Notre-Dame de Paris</h6>
                            <p class="opacity-6">Auteur: Victor Hugo</p>
                            <p class="opacity-6">Description: 
                                L'intrigue se déroule à Paris en 1482. Les deux premiers livres (I et II) du roman suivent Pierre Gringoire, poète sans le sou. Gringoire est l'auteur d'un mystère qui doit être représenté le 6 janvier 1482 au Palais de justice en l'honneur d'une ambassade flamande. Malheureusement, l'attention de la foule est vite distraite, d'abord par le mendiant Clopin Trouillefou, puis par les ambassadeurs eux-mêmes, et enfin par l'organisation improvisée d'une élection du Pape des fous à l'occasion de la Fête des Fous qui a lieu ce jour-là. Le sonneur de cloches de la cathédrale Notre-Dame de Paris, Quasimodo, est élu Pape des Fous en raison de sa laideur. Le mystère finit par s'arrêter, faute de public. Gringoire, à cette occasion, entend parler d'Esmeralda, une danseuse bohémienne qui passe pour égyptienne. L'ayant aperçue, il la suit dans les rues de Paris à la tombée de la nuit. Esmeralda manque d'être enlevée par Quasimodo accompagné d'un mystérieux homme vêtu de noir (qui se révèlera être l'archidiacre de Notre-Dame, Claude Frollo), mais elle est sauvée par l'intervention d'un capitaine de la garde, Phœbus de Châteaupers. Gringoire qui a été renversé lors de l'intervention reprend ses esprits un peu plus tard et erre dans les rues, il se retrouve sans le vouloir au cœur de la cour des Miracles, le quartier hanté par les pires truands de la capitale. Il manque d'y être pendu, et doit la vie à l'intervention d'Esmeralda qui le prend pour mari, mais seulement pour le sauver. "
                            </p>
                            <img src="https://placehold.co/64x64" alt="">
                            <span class="d-block margin-5px-bottom alt-font font-weight-500">HUG1905</span>
                            <p class="opacity-6">roman</p>
                            <span class="d-block margin-5px-bottom alt-font font-weight-500">papier, ebook</span>
                        </div>
                        <div class="feature-box-overlay bg-white border-radius-4px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
