<!-- start footer -->
<footer class="footer-dark bg-slate-blue">
    <div class="footer-bottom padding-five-tb lg-padding-eight-tb md-padding-50px-tb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-3 col-lg col-sm-4 md-margin-50px-bottom xs-margin-25px-bottom">
                    <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Menu</span>
                    <ul>
                        <li><a href="#">Qui sommes nous ?</a></li>
                        <li><a href="#">Médias</a></li>
                        <li><a href="#">Nos événements</a></li>
                        <li><a href="#">S'inscrire</a></li>
                        <li><a href="#">Se connecter</a></li>
                    </ul>
                </div>
                <!-- start footer column -->
                <div class="col-12 col-xl-3 col-lg col-sm-4 md-margin-50px-bottom xs-margin-25px-bottom">
                    <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Horaires</span>
                    <ul>
                        <li>Lundi au Vendredi :</li>
                        <li>9h - 18h</li>
                        <li>Samedi: </li>
                        <li>9h - 19h</li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-12 col-xl-3 col-lg col-sm-4 md-margin-50px-bottom xs-margin-25px-bottom">
                    <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Contact</span>
                    <ul>
                        <li>Espace culturel A.Camus</br>
                            Quartier la Coupiane</br>
                            83160 La Valette-du-Var</li>
                        <li>Telephone: 04 94 65 78 99 </li>
                        <li>Mail: mediatheque@mediatheque.fr</li>
                        <li>&copy; Copyright 2021 Médiathèque</li>
                    </ul>
                </div>
                <!-- end footer column -->
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->