<!-- start hero section -->
<section class="p-0 cover-background" style="background-image: url('https://placehold.it/1920x1100');">
    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
    <div class="container">
        <div class="row align-items-stretch justify-content-center full-screen md-h-650px sm-h-450px">
            <div class="col-12 col-xl-6 col-lg-7 col-sm-8 page-title-extra-small text-center d-flex justify-content-center flex-column">
                <a href="https://www.youtube.com/watch?v=g0f_BRYJLJE" class="popup-youtube video-icon-box video-icon-large position-relative margin-40px-bottom">
                            <span>
                                <span class="video-icon bg-fast-blue">
                                    <i class="icon-simple-line-control-play text-white"></i>
                                    <span class="video-icon-sonar">
                                        <span class="video-icon-sonar-bfr bg-fast-blue opacity-7"></span>
                                    </span>
                                </span>
                            </span>
                </a>
                <h2 class="text-white alt-font font-weight-600 text-shadow-extra-large letter-spacing-minus-1px line-height-50 sm-no-text-shadow sm-line-height-45 xs-line-height-30 no-margin-bottom">Hand crafted pixel perfect designs</h2>
            </div>
            <div class="down-section text-center"><a href="#about" class="section-link up-down-ani"><i class="ti-mouse icon-small text-white"></i></a></div>
        </div>
    </div>
</section>
<!-- end hero section -->