<!-- start navigation -->
<nav class="navbar top-space navbar-expand-lg navbar-light bg-white header-light fixed-top header-reverse-scroll navbar-boxed">
    <div class="container-fluid nav-header-container">
        <div class="col-auto menu-order">
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                <span class="navbar-toggler-line"></span>
                <span class="navbar-toggler-line"></span>
                <span class="navbar-toggler-line"></span>
                <span class="navbar-toggler-line"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav alt-font">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('presentation') }}" class="nav-link">Qui sommes nous ?</a>
                    </li>
                    <li class="nav-item dropdown simple-dropdown">
                        <a href="{{ path('medias')}}" class="nav-link">Nos médias</a>
                        <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown">
                                <a href="">Livres<i class=""></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="">Journaux<i class=""></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="">CD<i class=""></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="">DVD<i class=""></i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Nos événements</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Se connecter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-auto text-right hidden-xs pr-0 font-size-0">
            <div class="header-search-icon search-form-wrapper">
                <a href="javascript:void(0)" class="search-form-icon header-search-form"><i class="feather icon-feather-search"></i></a>
                <!-- start search input -->
                <div class="form-wrapper">
                    <button title="Close" type="button" class="search-close alt-font">×</button>
                    <form id="search-form" role="search" method="get" class="search-form text-left" action="search-result.html">
                        <div class="search-form-box">
                            <span class="search-label alt-font text-small text-uppercase text-medium-gray">What are you looking for?</span>
                            <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
                            <button type="submit" class="search-button">
                                <i class="feather icon-feather-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- end search input -->
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->
